/**font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Noto Color Emoji', sans-serif;
**/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}


/**COMPONENTES**/

nav{	
  z-index:1;
  top: 0;
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 103px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 43%, rgba(0,0,0,0.19885040197719717) 90%, rgba(0,0,0,0) 100%);
  text-align: center;
}

nav ul{
  list-style-type: none;
  display: inline-block;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
}

nav li{
  float: left;
  margin-top: 30px;
}

nav li img{
  padding-right:40px ;
  margin-top: -5px;
}

nav li a{
  text-decoration: none;
  display: block;
  color: #FFFFFF;
}
.navtext {
  font-size: 20px;
  margin-right: 30px;
  color: #FFFFFF;
}

.active, .navtext:hover{
  border-bottom: thick solid; padding-bottom: 5px; border-width: 3.5px;
  border-bottom-color: #EFBE26;
}

.fa-solid{
  float: inline-start;
  margin-left: 20px;
  margin-right: 10px;
}
.cta-agendar{
  display: inline-flex;
  margin-top: -7px;
  width: 295px;
  font-size: 19px;
  border-style: hidden;
  background-color:#EFBE26;
  border-radius: 20px;
  padding: 10px;
  padding-right: 20px;
}
.cta-agendar-texto{
  color: black;
  font-weight: 600;
  text-overflow: hidden;
  white-space: nowrap;
}
.fa-solid{
  margin-top: 1px;
}
.cta-agendar:hover {
  background-color: #e8b20f;

}
.banner{
  align-items: center;
  margin: auto;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  max-width: 100%;

}
.banner2{
  align-items: center;
  margin: auto;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.banner-texto2-1{
  letter-spacing: 10px;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin-top: 290px;
  text-shadow: 0px 1px 8px #000000B8;
}

.banner-texto2-2{
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
  text-shadow: 0px 2px 3px #000000e3;
  text-transform: uppercase;
}

.banner-logo{
  margin-top: 180px;
}
.banner-texto1{
  letter-spacing: 10px;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
  text-shadow: 0px 1px 8px #000000B8;
}

.banner-texto2{
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 5px;
  text-align: center;
  text-shadow: 0px 1px 8px #000000B8;
  text-transform: uppercase;
}
.titulo-seccion{
  font-weight: 400;
  width:fit-content;
  color:#222125;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 30px;
}

.titulo-seccion-2{
  font-weight: 400;
  width:fit-content;
  color:#222125;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 50px;
}

.titulo-seccion-underline{
  border-bottom: thick solid; padding-bottom: 15px; border-width: 8px;
  border-left: thick solid; padding-left: 10px; border-width: 8px;
  border-right: thick solid; padding-right: 10px; border-width: 6px;
  border-color: #EFBE26; border-radius: 4px;
  line-height: 25px;
}
.titulo-seccion-underline-2{
  margin-top: 5px;
  border-bottom: thick solid; padding-bottom: 15px; border-width: 8px;
  border-left: thick solid; padding-left: 10px; border-width: 8px;
  border-right: thick solid; padding-right: 10px; border-width: 6px;
  border-color: #EFBE26; border-radius: 4px;
  line-height: 15px;
  text-transform: uppercase;
}
.subtitulo-seccion{
  font-weight: 700;
  color: #222125;
  font-size: 28px;
  letter-spacing: 5px;
  margin-bottom: -25px;
  margin-top: -35px;
}

.subtitulo-seccion-2{
  font-weight: 700;
  color: #222125;
  font-size: 28px;
  letter-spacing: 5px;
  margin-bottom: -20px;
  margin-top: -25px;
}

.texto-2 a{
  color: #222125;
  font-weight: 500;
  margin: 0;
  text-decoration: underline;
}

.subtitulo-seccion-3{
  font-weight: 700;
  color:#FFFFFF;
  font-size: 28px;
  letter-spacing: 5px;
  margin-top: -25px;
}

footer{
  height: 390px;
  width: 100%;
  background-color: #222125;
  bottom: 0;
}

.socket{
  width: 90%;
  background-color: #222125;
  height: 80px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  vertical-align: middle;
  margin: 0% 5% 0% 5%;
}
hr:not(.hr-nav, .hr-nav-2, .hr-nav-3){
  margin: 1% 5% 0% 5%;
  height: 1px;
  border-color: #e8b20f;
  width: 87%;
  text-align: center;
  
}

.hr-nav{
  width: 1px;
  height: 30px;
  margin-top: 27px;
  margin-left: 398px;
  position: absolute;
  background-color: #e8b20f;
  border-color: #e8b20f;
}

.hr-nav-2{
  width: 1px;
  height: 30px;
  margin-top: 27px;
  margin-left: 565px;
  position: absolute;
  background-color: #e8b20f;
  border-color: #e8b20f;
}

.hr-nav-3{
  width: 1px;
  height: 30px;
  margin-top: 27px;
  margin-left: 665px;
  position: absolute;
  background-color: #e8b20f;
  border-color: #e8b20f;
}
.socket > div{
  margin-bottom: 0 auto;
}
.socket p{
  color: #FFFFFF;
  margin-top: 15px;
  font-size: 18px;

}

[class*="fa-brands"]{
  color: #222125;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-inline: 20px;
  padding-top: 25px;
  background-color: #EFBE26;
  border-radius: 50%;
}

.fa-brands:hover{
  background-color: #d2a210;
  cursor: pointer;
}

[class="fa-brands fa-instagram fa-lg"]{
  -webkit-text-stroke: 0.8px #222125;
}
i{
  vertical-align: middle;
}

strong{
  color: #222125;
  font-weight:bold;
}

.texto-italic-underline{
  font-size: 16px;
  color: #c9c9c9;
  text-decoration: underline;
  font-style: italic;
  margin-top: 15px;
  cursor: pointer;
}
.contenedor-columnas{
  width: 100%;
  margin: auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
/**FIN COMPONENTES**/

/**INDEX**/

.faicons{
  width: 100%;
  height: 100px;
  position: absolute;
  margin-top: 250px;
  box-sizing: border-box;
}

[class*="fa-solid fa-chevron"]{
  color: #EFBE26;
}

[class="fa-solid fa-chevron-right fa-3x"]{
  margin-left: 1160px;
}
[class="fa-solid fa-chevron-left fa-3x"]{
  margin-left: 40px;
}

.nuestras-reglas{
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
}

.cta-leer-reglas{
  margin-bottom: 200px;
  width: 295px;
  border-style: hidden;
  background-color:#EFBE26;
  border-radius: 20px;
  padding: 10px;
  padding-right: 20px;
}

.cta-a{
  color: black;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
}
.cta-leer-reglas:hover{
  background-color: #e8b20f;
  cursor: pointer;
}

/**FIN INDEX**/


/**CARTA**/
.menu-carta{
  width: 100%;
  margin: auto;
  background-color: #313131;
  height:45px;
  border-radius: 20px;
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding-top: 6px;
  padding-left: 110px;
}

.menu-carta li{
  float: left;
  margin-inline-end: 75px;
}

.menu-carta li:hover{
  font-weight: 600;
  cursor: pointer;
}

.menu-carta a{
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  
}


.columnas-producto{
  width: 565px; height: 115px;
  margin: auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.contenedor-img-rectangulo, .texto-carta{
  float: left;
  display:inline;
  position:relative;
}

.contenedor-img-rectangulo{
  width: 96px;
  margin-right: 15px;
}

.subtitulo-carta-texto{
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  color: #222125;
  margin-top: 45px;
}

.subtitulo-carta{
  text-align: center;
}
hr.hr-carta{
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 124px;
  height: 5px;
  background-color: #FACA28;
  border-color: #FACA28;
  color: #FACA28;
  border-style: none;
}


.texto-carta{
  text-align: left;
  width: 441px;
  float: left;
}

.p-carta{
  font-family: 'Rubik', sans-serif;
  font-family: 18px;
  font-weight: lighter;
  color: #222125;
  margin-top: 10px;
}
.texto-carta h5{
  font-size: 22px;
  font-weight: 600;
  text-align: justify;
  text-transform: uppercase;
  color: #222125;

}

.caja-carta, .caja-carta-2{
  display: inline-block;
  position: relative;
  margin-right: 15px;
  width:550px; height: 120px;
  padding-top: 20px; padding-bottom: 20px;
  text-align: center;
  border-radius: 18px;
  margin-top: 20px;
}

.caja-carta-2{
  margin-bottom: 250px;
}
/**FIN CARTA**/

/**CONTACTO**/

iframe{
  margin-top: -20px;
}

.form{
  width: 558px;
  height: 820px;
  background-color: #313131;
  border-radius: 45px;
  padding: 35px;
}

.form p{
  text-align: left;
  font-size: 19px;
  font-weight: lighter;
  color:#FFFFFF;
}

.label{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color:#FFFFFF;

}

input{
  width: 600px;
  height: 40px;
  margin-top: 15px;
  border-radius: 15px;
  border-color: #848484;
}

input::placeholder{
  font-size: 18px;
  color: #8f8f8f;
  padding-left: 5px;
}

input:read-write{
  font-size: 18px;
  color: #1d1d1d;
  padding-left: 15px;
}

#submit{
  background-color: #EFBE26;
  height: 55px;
  color: #141212;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

#submit:hover{
  background-color: #e8b20f;
  cursor: pointer;
}

textarea{
  padding: auto;
  height: 250px;
  width: 600px;
  resize: none;
  border-radius: 15px;
}

textarea::placeholder{
  font-size: 18px;
  color: #8f8f8f;
}

textarea:read-write{
  font-size: 18px;
  color: #1d1d1d;
  padding-top: 15px;
  padding-left: 15px;
}


#checkbox{
  width: 20px;
  cursor: pointer;
  position: relative;
}

.checkbox{
  float: left;
  font-size: 16px;
  color: #ffffff;
  padding: none;
  margin: none;
}

.checkbox p{
  position: relative;
  margin-left: 28px;
}

/**FIN CONTACTO**/



.columnas, .columnas-3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space:pre-wrap;
  text-align: center;
  justify-content: center;

}
.columnas > div {
  width: 50%;
}
.columnas-3 > div {
  width: 50%;
}

.columnas-2, .columnas-4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space:pre-wrap;
  margin:auto;
  margin-top: 50px;

}
.columnas-2 > div {
  width: 50%;
}

.columnas-4 > div {
  width: 50%;
}
.columnas-3, .columnas-4{
  margin-bottom: 200px;
}

.img-columnas{
  margin-left: -80px;
  text-align: left;
}

.link{
  color: #222125;
  font-weight: 500;
  margin: 0;
  text-decoration: underline;
}
.link:hover {
  color: #EFBE26;
}

.texto, .texto-2, .texto-3{
  text-align: justify !important;
  font-size: 24px;
  color: #141212;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  line-height: normal;
}


.columnas-4 p{
  margin-top: -25px;
}


.tarjeta{
  background-color: #313131;
  text-align: center;
  border-color: #141212;
  border-style: none;
  border-radius: 4%;
}
.tarjeta h3{
  font-size: 48px;
  font-weight: 600;
  color: #FFFFFF;
}
.tarjeta p:not([class="texto-italic-underline"]){
  font-size: 24px;
  color: #FFFFFF;
  font-weight: normal;
}


.link2{
  color: #222125;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline;
  padding-top: 32px;
  text-align: right;
}
.link2:hover{
  color: #e8b20f;
}

/**ANFITRIONES**/
.caja, .caja-2{
  display: inline-block;
  position: relative;
  margin-right: 15px;
  width:560px; height: 560px;
  padding-top: 20px; padding-bottom: 20px;
  text-align: center;
  background-color: #313131;
  border-radius: 18px;
  margin-top: 20px;
}

.caja-2{
  margin-bottom: 250px;
}
.img-circulo{
  padding-bottom: 20px;
}

.caja h3, .caja-2 h3{
  font-size: 38px;
  color: #FFFFFF;
}

.caja .texto-italic-underline:hover, .caja-2 .texto-italic-underline:hover{
  color: #e8b20f;
}

.caja p:not(.texto-italic-underline), .caja-2 p:not(.texto-italic-underline){
  color: #FFFFFF;
  padding-bottom: 15px;
  font-size: 20px;
  padding: 20px 20px;
}
.box li a, .box li p{
  color: #FFFFFF;
  line-height: 40px;
}

.box li a:hover{
  color: #EFBE26;
}
.box ul{
  color: #FFFFFF;
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding-top: 20px;
}
.box h3{
  color: #EFBE26;
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding-top: 20px;
}
.boxes{
  display: flex;
  justify-content: space-around;
}
.box{
  margin: 0 5% 0 5%;
  padding-top: 20px;
  width:20%;
  float: left;
}
/**FIN ANFITRIONES**/


/**RESERVAR VISITA**/
.calendario{
  width: 443px;
  height: 342px;
  display:flexbox;
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid #57575775;
  border-radius: 18px;
  padding: 20px;
  align-items: center;
}

.titulo-calendario h4{
  font-size: 30px;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  font-weight: 700;
  color: #222125;
}

.titulo-calendario .fa-solid{
  color: #e8b20f;
}

.titulo-calendario{
  display:flex;
  margin-top: -40px;
  margin-bottom: -50px;
  padding-left: 160px;
  padding-right: 160px;
  align-items: center;
}

.fecha-calendario{
  list-style:none;
  font-size: 18px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600 !important;
  margin-bottom: 5px;
}

.dias-calendario{
  list-style:none;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat',sans-serif;
}

.dias-calendario li{
  margin-bottom: 15px;
}

.dia-disabled{
  color: #78787A;
}

.dias-calendario li:not(.dia-disabled){
  font-weight: 500;
  color: #1C0D41;
}

.dia-selected{
  background-color: #EFBE26;
  border-radius: 50%;
  width: 25px;
  margin: auto;
}

.recomendaciones{
  width: 100%;
  height: 400px;
  margin-bottom: 200px;
  margin-top: -150px;
}

.recomendaciones li{
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  line-height: 48px;
  font-weight: lighter;
  margin: auto;
  list-style:inside;
}

.recomendaciones ul{
  margin-top: 15px;
}
.subtitulo-seccion-4{
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #222125;
}

.recomendaciones-lista li a{
  color: #141212;
  font-weight: 400;
}

.select-titulo{
  font-weight: 500;
  font-size: 23px;
  background-color: #313131;
  width:fit-content;
  padding: 15px;
  color: #ffffff;
  border-radius: 19px 0 0 19px;
  height: 50px;
  line-height: 1px;
}

.select-titulo .fa-regular{
  color: #FFFFFF;
}

#hora{
  width: 185px;
  height: 50px;
  padding: 15px;
  border-radius: 0 19px 19px 0;
  font-size: 18px;
  appearance: none;
  outline: 0;
}

.datos-visita{
  margin: auto;
  margin-top: -35px;
}

#icono-select{
  position: absolute;
  margin-left: 250px;
  margin-top: 18px;
}

.select-1, .select-2{
  display: inline-flex;
  margin: auto;
}

.select-1{
  margin-left: 40px;
}

#personas{
  width: 140px;
  height: 50px;
  padding: 15px;
  border-radius: 0 19px 19px 0;
  font-size: 18px;
  appearance: none;
  outline: 0;
}

.selects{
  display: flex;
  margin: auto;
  margin-bottom: -70px;
}

select:hover{
  cursor: pointer;
}

.checkbox-2{
  margin: auto;
  padding: auto;
  margin-left: -15px;
  display: inline-flex;
  margin-left: 0px;
  margin-bottom: -70px;
}

.texto-checkbox-2{
  margin: auto;
  padding: 45px 0 0 10px;
  font-size: 16px;
}

.text-input{
  position: absolute;
  font-size: 18px;
  margin: auto;
  color: #222125;
}
.inputs{
  margin-left: 35px;
  padding: auto;
  margin-bottom: -30px;
  display: inline-flex;
}

#name-input, #email-input{
  width: 300px;
  height: 50px;
  appearance: none;
  box-shadow: none;
  border: 1px solid #7a7a7a;
}

.input-1, .input-2{
  margin: auto;
}


input::placeholder{
  font-size: 16px;
}

#submit-2{
  background-color: #EFBE26;
  height: 55px;
  width: 600px;
  color: #141212;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

#submit-2:hover{
  background-color: #e8b20f;
  cursor: pointer;
}
/**FIN RESERVAR VISITA**/


/**REGLAS**/
.ul-reglas{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  line-height: 38px;
  list-style: inside;
  margin-bottom: 200px;
  margin-top: 70px;
}
/**FIN REGLAS**/


/**PREGUNTAS FRECUENTES**/
.preguntas-lista{
  margin-top: 100px;
  margin-bottom: 200px;
}

.preguntas-lista summary{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  background-color:#313131;
  padding: 20px;
  border-radius: 18px;
  color: #FFFFFF;
  list-style: none;
}

.preguntas-lista div{
  margin-bottom: 25px;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.preguntas-lista a{
  color: #141212;
}

details{
  cursor: pointer;
  position: relative;
}

details summary::before {
  position: absolute;
  content: "Ver más +";
  font-size: 1.75rem;
  top: 10px;
  right: 16px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 400;
}

details[open] summary::before{
  content: "Ver menos -";
}
/**FIN PREGUNTAS FRECUENTES**/


/**APADRINAR**/
.seccion-apadrinar{
  margin-top: 20px;
  margin-bottom: 200px;
}

.columnas-4 .p-apadrinar{
  text-justify:auto;
  margin-top: 0px;
  padding: 5px;
  font-size: 22px;
  margin-right: 40px;
  line-height: 36px;
}

.subtitulo-seccion-5{
  font-weight: 700;
  color: #222125;
  font-size: 28px;
  letter-spacing: 5px;
  margin-top: 5px;
  margin-bottom: auto;
}


.subtitulo-seccion-6{
  font-weight: 700;
  color: #222125;
  font-size: 28px;
  letter-spacing: 2px;
  margin-top: -155px;
  margin-bottom: 25px;
}

.subtitulo-seccion-7{
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 45px;
  color: white;
}

.texto-apadrinar-subtitulos{
  text-justify:auto;
  margin-top: 15px;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 25px;
  margin-right: 40px;
}

.text-input-2{
  position: relative;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: -10px;
  color: #ffffff;
}
.inputs-2{
  padding: auto;
  margin-bottom: -30px;
  display: flex;
  flex-flow: column wrap;
}

#name-input-2, #email-input-2{
  width: 620px;
  height: 50px;
  appearance: none;
  box-shadow: none;
  border: 1px solid #7a7a7a;
}

.input-3{
  margin-right: 45px;
}

.datos-apadrinar{
  margin: auto;
  margin-top: -25px;
  columns: 1;
}


#icono-select-2{
  position: absolute;
  margin-left: 590px;
  margin-top: 25px;
}
.cta-apadrinar{
  width: 300px; height: 45px;
  background-color: #EFBE26;
  border-radius: 18px;
  border-style: none;
  padding: 10px;
}

.cta-apadrinar a{
  color: #222125;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.cta-apadrinar:hover{
  background-color: #e8b20f;
  cursor:pointer;
}
#gatitos{
  margin-top: 20px;
  width: 620px;
  height: 50px;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  appearance: none;
  box-shadow: none;
  padding-left: 15px;
}

#icono-select-3{
  position: absolute;
  margin-left: 580px;
  margin-top: 35px;
}

.apadrinar-form{
  background-color:#313131;
  width: 700px;
  padding:15px;
  padding-left: 30px;
  margin-top: 35px;
  height:650px;
  border-radius: 15px;
  color: white;
}
span.emoji-apadrinar{
  font-family: 'Noto Color Emoji', sans-serif;
}

#submit-apadrinar{
  background-color: #EFBE26;
  height: 55px;
  margin-top: 45px;
  color: #141212;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  width: 620px;
}

#submit-apadrinar:hover{
  background-color: #e8b20f;
  cursor: pointer;
}

.p-submit-apadrinar{
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
/**FIN APADRINAR**/

/**MEDIA QUERIES**/

@media screen and (max-width: 700px){

  /**INDEX**/
  .nuestras-reglas, .nuestros-anfitriones{
      margin:0;
      width: 100%;
      font-size: 21px;
      text-align: center;
      line-height: 25px;
      margin-bottom: 65px;
  }

  .nuestras-reglas p{
      text-align: justify;
  }

  .sobre-nosotros{
      margin: 0;
      width: 100%;
  }

  .sobre-nosotros .columnas{
      text-align: justify;
      flex-flow: column wrap;
      margin: 0;
  }

  .sobre-nosotros .texto{
      margin-top: -40px;
      margin-bottom: -15px;
      display: block;
      width: 80vw;
      font-size: 21px;
  }

  .slider-menu img{
      width: 80vw;
      height: 65vw;
      position: relative;
      text-align: center;
  }

  .titulo-seccion-underline, .titulo-seccion-underline-2{
      border-bottom: thick solid; padding-bottom: 15px; border-width: 8px;
      border-left: thick solid; padding-left: 10px; border-width: 8px;
      border-right: thick solid; padding-right: 10px; border-width: 6px;
      border-color: #EFBE26; border-radius: 4px;
      line-height: 28px;
  }

  .titulo-seccion, .titulo-seccion-2{
      font-weight: 400;
      width:fit-content;
      color:#222125;
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 35px;
      margin-top: 25px;
  }

  .caja, .caja-2{
      break-before: column;
      max-height: 450px;
      min-width: 80vw;
      min-height: 400px;
      width: 100%;
      align-items: center;
      margin:0;
      margin-bottom: 15px;
  }

  .contenedor-columnas{
      flex-flow: column wrap;
      margin: 0;
      display: flex;
      text-align: center;
  }

  .contenedor-columnas .caja p, .contenedor-columnas  .caja-2 p{
      font-size: 18px;
  }

  .contenedor-columnas .caja h3, .contenedor-columnas .caja-2 h3{
      font-size: 24px;
  }

  .seccion-anfitriones{
      margin-bottom: 140px;
  }

  .img-circulo{
      max-width: 190px;
      min-width: 150px;
  }

  .cta-apadrinar{
      max-width: 260px;
      min-width: 250px;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .link2{
      text-align: right;
      margin: 0;
      padding: 2% 5% 0 5%;
      font-size: 20px;
  }
  /**FIN INDEX**/
  /**SOBRE NOSOTROS**/

  .columnas, .columnas-2, .columnas-3{
      text-align: justify;
      flex-flow: column wrap;
      margin: 0;
      align-content: center;
  }

  .seccion-sobre-nosotros{
      margin: 0;
      margin-bottom: 150px;
      width: 100%;
      flex-flow: column wrap;
      display: flex;
      padding: 0;
  }

  .columnas .texto-2, .columnas-2 .texto-3, .columnas-3 .texto-2{
      margin-bottom: -15px;
      display: inline-block;
      width: 80vw;
      font-size: 21px;
      padding: 0;
      text-align: center;
  }

  .seccion-sobre-nosotros .columnas-2{
      justify-content: center;
      margin: auto;
  }
  .sobre-nosotros-img, .sobre-nosotros-img3{
      width: 80vw;
      height: 65vw;
      text-align: center;
      margin-top: -30px;
      margin-bottom: 20px;
  }

  .sobre-nosotros-img2{
      display: none;
  }

  .seccion-sobre-nosotros .subtitulo-seccion{
      font-size: 26px;
      text-align: center;
  }

  .banner-fondo{
      width: 100%;
      height: 100vw;
      background-image: url("../img/inicio-pequeno.png");
      background-size:100%;
      background-position: top top;
      background-repeat: no-repeat;
  }

  .banner-logo{
      width: 40vw;
      height: 30vw;
      margin-top: 30vw;
  }

  .banner-texto1, .banner-texto2-1{
      font-size: 29px;
      text-align: center;
      margin-top: 3vw;
  }

  .banner-texto2, .banner-texto2-2{
      font-size: 18px;
      text-align: center;
      margin-top: 0;
      word-wrap: break-word;
      padding: 0 5% 0 5%;
      font-weight: 500;
  }

  .banner2 h2, .banner2 h4{
      text-shadow: 15px;
      width: 100vw;
      text-align: center;
  }

  .banner-texto2-1{
      margin-top: 38vw;
  }

  .banner-fondo-2{
      width: 100%;
      height: 80vw;
      background-color: #ffffff;
      overflow: hidden;
  }

  .banner-fondo-2 img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
  }

  .seccion-contacto{
      margin-bottom: 150px;
  }

  .columnas-4{
      display: flex;
      flex-flow: column wrap;
      white-space:pre-wrap;
      margin:auto;
      margin-top: 20px;
  }

  .columnas-4 p{
      font-size: 18px;
  }


  .columnas-4 > div {
      width: 90vw;
  }

  iframe{
      width: 90vw;
  }

  .columnas-4 img{
      max-width: 90vw;
  }


  .subtitulo-seccion-3{
      font-size: 23px;
      margin-top: 4px;
  }

  .form{
      padding: 0 5% 0 5%;
      height: fit-content;
  }

  .form input{
      height: 45px;
      width: 80vw;
  }

  .form p{
      font-size: 18px;
  }

  .form textarea{
      height: 180px;
      width: 80vw;
      margin-bottom: -39px;
      margin-top: 10px;
  }

  label {
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      margin-top: 30px;
      margin-bottom: 0;
      color: white;
      font-size: 17px;
  }
   
  label input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align:middle;
      position: relative;
      top: -1px;
      overflow: hidden;
  }

  input::placeholder{
      font-size: 17px;
  }

  textarea::placeholder{
      font-size: 17px;
      padding-right: 10px;
  }

  #submit{
      background-color: #EFBE26;
      height: 55px;
      color: #141212;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      margin-top: -40px;
  }

  .subtitulo-seccion-2{
      font-size: 22px;
      word-break: keep-all;
      text-align: left;
  }


  .columnas-4 .p-apadrinar{
      margin-top: 0px;
      font-size: 22px;
      line-height: 36px;
      margin: 0;
      padding: 0;
      text-align:left;
      hyphens: auto;
      height: min-content;
  }

  /**APADRINAR**/

  .apadrinar-form{
      width: 90vw;
      height: fit-content;
  }

  #name-input-2, #email-input-2, #gatitos, #submit-apadrinar{
      width: 75vw;
  }

  .img-apadrinar{
      height: fit-content;
      margin-top: -50px;
      margin-bottom: 30px;
  }
  .subtitulo-seccion-6{
      font-weight: 700;
      color: #222125;
      font-size: 24px;
      letter-spacing: 2px;
      margin-top: 0px;
      margin-bottom: 25px;
  }

  .texto-apadrinar-subtitulos{
      text-justify:auto;
      margin-top: 15px;
      font-size: 20px;
      margin-bottom: 25px;
  }

  .titulo-calendario{
      font-size: 18px;
      display: flex;
      padding: 0;
      align-items: center;
      justify-content: space-around;
  }

  .datos-visita{
      margin: 0;
      padding: 0;
      display: inline-block;
  }

  .recomendaciones{
      margin-bottom: 150px;
      margin-top: 20px;
      height: fit-content;
  }

  .selects{
      margin: 0;
      flex-flow: column;
      display: flex;
      margin-top: -30px;
  }

  .select-1, .select-2{
      margin: 0;
      margin-top: 20px;
  }

  #hora{
      width: 62vw;
  }

  #personas{
      width: 50vw;
  }

  #icono-select{
      margin-left: 330px;
  }

  .select-titulo{
      width: max-content;
  }

  .calendario{
      padding: 10px;
      text-align: center;
  }

  #icono-select-3{
      position: absolute;
      margin-left: 250px;
      margin-top: 35px;
      color: #000000;
  }

  .inputs{
      display: flex;
      margin: 0;
      flex-flow: column;
  }

  .text-input{
      display: flex;
      justify-content: flex-start;
  }

  #name-input, #email-input{
      width: 90vw;
  }

  #submit-2{
      width: 90vw;
  }

  .checkbox-2{
      margin-top: -50px;
  }

  .input-1, .input-2{
      margin-top: -40px;
  }

  .inputs{
      margin-top: -30px;
  }
  
  #checkbox{
      width: 30px;
  }

  .seccion-agendar-visita{
      margin-top: 30px;
  }
  /**COMPONENTES**/

  ul.navbar{
      display: none;
  }

  .menu-movil{
      padding: 15px 0 0 0px;
      display:inline;
      width:100vw;
      float:left;
      position:sticky top;
  }

  #menu-hamburguesa{
      width:40px;
      color:#ffffff;
      cursor:pointer;
  }

  #hamburguesa {
      cursor: pointer;
      cursor:pointer;
  }

  .down{
      width: 30px;
      padding:0 0 20px 0;
      background-image:url("../img/down.svg");
      background-size: 20px;
      background-position: 0;
      background-repeat:no-repeat;
      filter: invert(100%);
      display: flex;
  }

  .up{
      background-image:url("../img/close.png");
      background-repeat:no-repeat;
      background-size: 17px;
      padding:0 0 20px 0;
      filter: invert(100%);
      width: 30px;
      background-position: 0;
      display: flex;
  }

  .menu-movil figure{
      margin-top: 10px;
      display: flex;
      margin-left: 20px;
  }

  nav{	
      z-index:1;
      top: 0;
      position: fixed;
      width: 100vw;
      margin: 0;
      padding: 0;
      height: 80px;
      background: rgb(0,0,0);
      text-align: center;
      display: flex;
      align-items:flex-start;
  }

  ul#opciones {
      width:100vw;
      padding:0px 15px 15px 0;
      display: none;
      background-color: #141212;
      border-radius: 0 0 25px 25px;
  }
  
  ul#opciones li {
      width:100vw;
      float:left;
  
  }
  
  ul#opciones li a {
      color: #ffffff;
      padding:10px;
      font-weight: bold;
      text-align:center;
      text-decoration:none;
      cursor:pointer;
      margin-bottom:1px;
      width:100%;
      float:left;
  }
  
  ul#opciones li a:hover {
      color:#000000;
      background-color: #EFBE26;
      text-decoration: none;
  }

  figure img{
      padding-left: 5px;
      margin-left: 30px;
      width: 140px;
  }

  figure span{
      margin-left: 90px;
  }

  footer{
      width: 100vw;
      height: fit-content;
  }
  footer .boxes{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin-bottom: 35px;
  }

  footer .boxes .box{
      width: 90vw;
  }

  footer .box ul h3, .box li{
      text-align: center;
  }

  .box ul{
      font-size: 18px;
  }

  .socket img{
      width: 87;
      height: 28;
      display: flex;
  }

  .socket p{
      font-size: 18px;
      text-align: center;
  }

  .socket{
      margin: 0;
      padding: 0 5% 0 5%;
      height: fit-content;
      width: 100vw;
      display: flex;
      flex-flow: column wrap;
  }

  .socket .socket-box{
      padding-top: 25px;
      width: 70vw;
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: space-around;
      align-self: center;
  }
  .socket .iconos{
  display: flex;
  margin-bottom: 15px;
  }

  /**CARTA**/

  .menu-carta{
      overflow-x: auto;
      display: flex;

  }

  .menu-carta li{
      margin-inline-end: 15px;
  }
  .menu-carta a {
      display: inline-flex;
      flex-flow: row nowrap;
      text-align: center;
  }

  .menu-carta::-webkit-scrollbar{
      display: none;
  }

  .seccion-carta{
      margin-bottom: 150px;
  }

  .contenedor-columnas-carta{
      width: 80vw;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .caja-carta, .caja-carta-2{
      width: 85vw;
      margin: 0;
      margin-top: 20px;
      height: max-content;
  }

  .caja-carta-2{
      margin-top: 55px;
  }
  .puntitos-carta{
      display: table-column-group;
      white-space: pre;
  }
  .texto-carta{
      width: auto;
      height: fit-content;
  }

  .texto-carta h5{
      font-size: 16px;
  }

  .texto-carta p{
      font-size: 16px;
      word-wrap: break-word;
      hyphens: auto;
  }

  .columnas-producto{
      display: inline-flex;
      width: 80vw;
      height: 115px;
      margin: auto;
      position: relative;
  }

  .contenedor-img-rectangulo{
      width: 90px;
  }

  /**REGLAS**/
  .seccion-reglas{
      padding: 0 5% ;
  }

  /**FAQ**/

  details summary::before {
  position:static;
  content: "  + ";
  font-size: 1.75rem;
  top: 15px;
  right: 16px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 700;
}

details[open] summary::before{
  content: "  - ";
}

  main{
      padding: 0 5% 0 5%;
  }


  .caja-carta:last-child{
      margin-top: 50px;
  }

  .menu-carta-div{
      display: none;
  }
}

@media (min-width: 701px) and (max-width: 999px) {
  .menu-movil{
      display: none;
  }
  .banner-fondo{
      width: 100%;
      height: 740px;
      background-image: url("../img/inicio.png");
      background-size:100%;
      background-repeat: no-repeat;
  }
}


@media screen and (min-width: 1000px){

  main{
      padding: 0 5% 0 5%;
  }
  /**INDEX**/

  .banner-fondo{
      width: 100%;
      height: 740px;
      background-image: url("../img/inicio.png");
      background-size:100%;
      background-repeat: no-repeat;
  }

  .nuestras-reglas{
      padding: 5% 5%;
      margin: 0%;
  }

  .sobre-nosotros{
      margin-top: 45px;
  }

  .nuestros-anfitriones{
      margin: 0%;
  }

  .caja, .caja-2{
      display: inline-block;
      position: relative;
      margin: 0;
      margin-right: 15px;
      padding-top: 20px;
      text-align: center;
      background-color: #313131;
      border-radius: 18px;
      margin-top: 20px;
      max-width: 48%;
      min-width: 48%;
      max-height: 560px;
      min-height: 540px;
  }

  .contenedor-columnas-index{
      width: 100%;
      margin: auto;
      position: relative;
      -webkit-box-sizing: border-box;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
  }

  .contenedor-columnas > div{
      width: 50%;
  }

  .link2{
      text-align: right;
      margin: 0;
      padding-top: 2%;
  }

  .cta-apadrinar{
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
  }

  /**FIN INDEX**/
  /**SOBRE NOSOTROS**/

  .sobre-nosotros-img2{
      display: flex;
      justify-self: flex-start;
  }

  .texto-3{
      padding-right: 2%;
  }

  .sobre-nosotros-img3{
      display: none;
  }
  /**FIN SOBRE NOSOTROS**/
  /**ANFITRIONES**/

  .seccion-anfitriones{
      margin-bottom: 200px;
  }

  .caja p{
  word-break:normal;
  text-align: center;
  }

  .contenedor-columnas{
      width: 100%;
      margin: auto;
      position: relative;
      -webkit-box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      text-align: center;
      justify-content: center;
  }

  /**FIN ANFITRIONES**/
  /**CARTA**/

  .contenedor-columnas-carta{
      width: 100%;
      margin: auto;
      position: relative;
      -webkit-box-sizing: border-box;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
  }

  .seccion-carta{
      margin-bottom: 200px;
  }

  .texto-carta h5{
      text-align: justify;
      text-align-last: justify;
      text-justify: inter-word;
  }
  

  /**FIN CARTA**/
  /**CONTACTO**/


  .form input{
      height: 45px;
      width: 40vw;
  }

  .form textarea{
      height: 180px;
      width: 40vw;
      margin-top: 2px;
      margin-bottom: -39px;
  }

  label {
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      margin-top: 30px;
      margin-bottom: 0;
      color: white;
      font-size: 19px;
  }
   
  label input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align:middle;
      position: relative;
      top: -1px;
      overflow: hidden;
  }

  #submit{
      background-color: #EFBE26;
      height: 55px;
      color: #141212;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      margin-top: 10px;
  }

  /**FIN CONTACTO**/
  /**RESERVAR VISITA**/

  .banner-fondo-2{
      width: 100%;
      height: 39vw;
      background-color: #ffffff;
      overflow: hidden;
  }

  .banner-fondo-2 img{
      width: 100%;
      height: 100%;
  }


  /**COMPONENTES**/

  .menu-movil{
      display: none;
  }

}